<h1>Enter an Address</h1>

<% if flash[:error].present? %>
  <div class="error"><%= flash[:error] %></div>
<% elsif flash[:notice].present? %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_with url: weather_index_path, method: :get do |form| %>
  <div>
    <%= form.label :raw_address, "Address:" %>
    <%= form.text_field :raw_address, value: @raw_address %>
  </div>
  <div>
    <%= form.submit "Get Weather" %>
  </div>
<% end %>

<% if @address.present? %>
  <h2>Weather for <%= @address.formatted_address %></h2>
  Longitude: <%= @address.longitude %><br>
  Latitude: <%= @address.latitude %>
  <p><%= @weather %></p>
<% end %>
