<h1>Enter an Address</h1>

<% if flash[:error].present? %>
  <div class="error"><%= flash[:error] %></div>
<% elsif flash[:notice].present? %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_with url: weather_index_path, method: :get do |form| %>
  <div>
    <%= form.label :address, "Address:" %>
    <%= form.text_field :address, value: @address %>
  </div>
  <div>
    <%= form.submit "Get Weather" %>
  </div>
<% end %>

<% if @location.present? %>
  <h2>Weather for <%= @location.formatted_address %></h2>
  Longitude: <%= @location.longitude %><br>
  Latitude: <%= @location.latitude %>
<% end %>O

<% if @weather.present? %>
  <h2>Current Weather <% if @weather_from_cache %>(From Cache)<% else %>(Fresh Data)<% end %></h2>
  <p>Temperature: <%= @weather.temperature %> °F</p>
  <p>Dewpoint: <%= @weather.dewpoint %> °F</p>
  <p>Wind Direction: <%= @weather.wind_direction %> °</p>
  <p>Wind Speed: <%= @weather.wind_speed %> km/h</p>
  <p>Barometric Pressure: <%= @weather.barometric_pressure %> Pa</p>
  <p>Visibility: <%= @weather.visibility %> m</p>
  <p>Relative Humidity: <%= @weather.relative_humidity %> %</p>
<% end %>

<% if @forecast.present? %>
  <h2>7-Day Forecast <% if @forecast_from_cache %>(From Cache)<% else %>(Fresh Data)<% end %></h2>
  <ul>
    <% @forecast.each do |day| %>
      <li>
        <strong><%= day.name %></strong>:
        <%= day.short_forecast %>
        (Temperature: <%= day.temperature %> <%= day.temperature_unit %>)
      </li>
    <% end %>
  </ul>
<% end %>
